.main {
  flex-grow: 1;
  .hero {
    .container {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &__info {
      width: 447px;
    }
    &__title {
      margin-bottom: 2.4rem;
    }
    &__descr {
      @include fontStyle(1.8rem, 1.56, normal, -0.28125px);
      margin-bottom: 3.6rem;
    }

    &__img {
      z-index: -5;
      position: absolute;
      right: 0;
      top: -300px;
    }
  }
}
